---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "settings";
@import "../bower_components/foundation-sites/scss/foundation";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "syntax-highlighting";

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
@include foundation-label;
// @include foundation-media-object;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
@include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

figure {
  margin: 0;
}

.highlight {
  color: $code-color;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  background: $code-background;
  border: $code-border;
  padding: $code-padding;
  margin-bottom: $paragraph-margin-bottom;

  code {
    background: none transparent;
    border: none;
    padding: 0;
  }
}

.tabs-content {
  margin-bottom: $paragraph-margin-bottom;
}

@keyframes navigation-in {
  0% {
    transform: translateY(#{rem-calc(-40)});
  }
  100% {
    transform: translateY(0);
  }
}

.navigation {
  position: fixed;
  width: 100%;
  z-index: 5;
  perspective: 600px;
  perspective-origin: center top;
  animation-name: navigation-in;
  animation-duration: 300ms;
  animation-iteration-count: 1;

  .no-js {
    display: none;
  }
}

.title-bar {
  justify-content: flex-start;
  z-index: 1;
}

.top-bar {
  color: $white;
}

.menu {
  @include breakpoint((small, only)) {
    @include menu-direction('vertical');
  }

  a {
    color: $white;
    transition: color 200ms;
  }

  .active {
    color: $primary-color;
  }
}

.site-header {
  display: flex;
  align-items: center;

  > * {
    width: 100%;
  }
}

.page {
  min-height: 100vh;
  padding: rem-calc(60) 0;

  @include breakpoint(medium) {
    padding: rem-calc(100) 0;
  }
}

.next-anchor {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: rem-calc(60);
  margin-left: rem-calc(-30);
  color: $light-gray;
}

.site-footer {
  background-color: #f9f9f9;
  padding: rem-calc(30);
  font-size: $small-font-size;
  text-align: center;
}

.fa-icon {
  display: block;
  width: rem-calc(80);
  height: rem-calc(80);
  margin: 0 auto $paragraph-margin-bottom;
  border-radius: 50%;
  line-height: rem-calc(80);
  font-size: rem-calc(40);
  text-align: center;
  background-color: $primary-color;
  color: $white;
}

.extra-space {
  padding: (2 * $paragraph-margin-bottom) $paragraph-margin-bottom;
}

tbody th {
  white-space: nowrap;
  text-align: left;
}
