<div class="navigation hide-for-print">
  <div class="title-bar" data-responsive-toggle="top-bar" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">PHP Code Quality Project</div>
  </div>

  <div class="top-bar" id="top-bar">
    <nav class="top-bar-left">
      <ul class="menu" data-magellan>
        <li class="menu-text show-for-medium">PHPCQ</li>
        {% include menu-items.html %}
      </ul>
    </nav>
  </div>
</div>
