<li>
  <a href="#about" onclick="$('[data-responsive-toggle=&quot;top-bar&quot;]').foundation('toggleMenu')">
    <i class="fa fa-leaf"></i> About
  </a>
</li>
<li>
  <a href="#quickstart" onclick="$('[data-responsive-toggle=&quot;top-bar&quot;]').foundation('toggleMenu')">
    <i class="fa fa-gears"></i> QuickStart
  </a>
</li>
<li>
  <a href="#tasks" onclick="$('[data-responsive-toggle=&quot;top-bar&quot;]').foundation('toggleMenu')">
    <i class="fa fa-automobile"></i> Tasks
  </a>
</li>
<li>
  <a href="https://github.com/phpcq" target="_blank">
    <i class="fa fa-github"></i> <span data-hide-for="medium">Github</span>
  </a>
</li>
